// COLORS
$header-color: #069a11;
$blog-content: #0000ff;
$other-content: #00ff00;
$author-content: #ffff00;

// FONTS
$global-font: 'Helvetica Neue', Arial;

// SIZES
$heading-size: 40px;
$subhead-size: 25px;
$body-text: 18px;
$content-width: 1140px;