@import "partials/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $global-font;
    font-size: $body-text;
}

.container {
    width: $content-width;
    margin: 20px auto 0 auto;
}

.blog-post {
    width: $blog-width;
    float: left;
    padding-right: 30px;
    h1 {
        color: $header-color;
        font-size: $heading-size;
        margin-bottom: 20px;
    }
    
    h2 {
        font-size: $subhead-size;
        margin-bottom: 10px;
    }

    .main-text {
        text-align: justify;
        margin-bottom: 20px;
    }
}

.other-posts {
    width: $side-content-width;
    float: left;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}   

// AUTHOR SECTION
.author-content {
    padding-top: 20px;
    border-top: 1px solid #808080;
    .author-name {
        font-size: 22px;
    }
}