@import "partials/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $global-font;
    font-size: $body-text;
}

.container {
    width: $content-width;
    margin: 20px auto 0 auto;
}

.blog-post {
    width: $blog-width;
    float: left;
    position: relative;
    padding-right: 30px;
    h1 {
        color: $header-color;
        font-size: $heading-size;
        margin-bottom: 20px;
    }
    
    h2 {
        font-size: $subhead-size;
        margin-bottom: 10px;
    }

    img {
        height: 150px;
        width: auto; // affects aspect ratio of img
    }

    .main-text {
        text-align: justify;
        margin-bottom: 20px;
    }

    .date {
        position: absolute;
        top: 10px;
        right: 30px; // no distance between right side of prt container / element

    }
}

.other-posts {
    width: $side-content-width;
    float: left;
    .side-items {
        margin-bottom: 40px; 
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}   

// AUTHOR SECTION
.author-content {
    padding-top: 20px;
    border-top: 1px solid #808080;
    img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        float: left;        
    }
    .author-name {
        font-size: 22px;
        float: left; // makes content align next to each other
        margin-top: 35px;
        margin-left: 10px;
    }
}