@import "partials/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $global-font;
    font-size: $body-text;
}

h1 {
    color: $header-color;
    font-size: $heading-size;
    margin-bottom: 20px;
}

h2 {
    font-size: $subhead-size;
    margin-bottom: 10px;
}

.main-text {
    text-align: justify;
    margin-bottom: 20px;
}

.author-name {
    font-size: 22px;
}